<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf入门</title>
</head>
<body>
<form action="http://10.3.10.204:8888/bus/refresh" method="post" enctype="multipart/form-data">
    <input type='submit' value="提交server" />
</form>
<form action="http://10.3.10.204:9090/bus/refresh" method="post" enctype="multipart/form-data">
    <input type='submit' value="提交configclient" />
</form>
<form action="http://110.184.69.58:9090/bus/refresh" method="post" enctype="multipart/form-data">
    <input type='submit' value="公网提交configclient" />
</form>
</body>
</html>